In [3]:
import pandas as pd
import datetime

In [4]:
s = pd.date_range('2020-01-06','2020-01-10',freq='10H').to_series()
features = {
    "dayofweek":s.dt.dayofweek.values,
    "dayofyear":s.dt.dayofyear.values,
    "hour":s.dt.hour.values,
    "is_leap_year":s.dt.is_leap_year.values,
    "quarter": s.dt.quarter.values,
    "weekofyear":s.dt.weekofyear.values
}
s.head()

2020-01-06 00:00:00   2020-01-06 00:00:00
2020-01-06 10:00:00   2020-01-06 10:00:00
2020-01-06 20:00:00   2020-01-06 20:00:00
2020-01-07 06:00:00   2020-01-07 06:00:00
2020-01-07 16:00:00   2020-01-07 16:00:00
Freq: 10H, dtype: datetime64[ns]

In [9]:
import numpy as np
df = pd.DataFrame(
    np.random.rand(100,2),
    columns=[f'f_{i}'for i in range(1,3)]
)
df.head()

        f_1       f_2
0  0.120909  0.597412
1  0.329837  0.028968
2  0.194849  0.356539
3  0.137301  0.501172
4  0.336787  0.223556

In [14]:
from sklearn import preprocessing
pf = preprocessing.PolynomialFeatures(
    degree=2,
    interaction_only=False,
    include_bias = False
)
pf.fit(df)
poly_feats = pf.transform(df)

num_feats = poly_feats.shape[1]
df_transformed = pd.DataFrame(
    poly_feats,
    columns=[f"f_{i}" for i in range(1, num_feats+1)])
df_transformed.head()

        f_1       f_2       f_3       f_4       f_5
0  0.120909  0.597412  0.014619  0.072232  0.356901
1  0.329837  0.028968  0.108792  0.009555  0.000839
2  0.194849  0.356539  0.037966  0.069471  0.127120
3  0.137301  0.501172  0.018852  0.068812  0.251174
4  0.336787  0.223556  0.113426  0.075291  0.049977

In [16]:

#binning
df['f_bin_10'] = pd.cut(df['f_1'],bins=10,labels=False)
df['f_bin_100'] = pd.cut(df['f_1'],bins=100,labels=False)
df.head()

        f_1       f_2  f_bin_10  f_bin_100
0  0.120909  0.597412         1         11
1  0.329837  0.028968         3         33
2  0.194849  0.356539         1         19
3  0.137301  0.501172         1         13
4  0.336787  0.223556         3         34

In [17]:
df.f_3.var()

AttributeError: 'DataFrame' object has no attribute 'f_3'